:root {
	--bgcolor-tile-play: #C8E6C9;
	--bgcolor-tile-sum: orange;
	--bgcolor-tile-sum-rollover: blue;
}

* {
	font-size: 1em;
}

#mainWrapper {
	display: grid;
	grid-template-columns: min-content auto;
}

#stage {
	display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

#win {
	font-size: 2em;
	color: #F44336;
}

.tile {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 3em;
	height: 3em;
	user-select: none;
	-moz-user-select: none;
	border: 2px solid white;
}

.playTile {
	background-color: var(--bgcolor-tile-play);
	border: 0.1em solid blue;
	border-radius: 0.5em;
	cursor: pointer;
}

.sumTile {
	background-color: var(--bgcolor-tile-sum);
	border-radius: 0.5em;
	cursor: default;
}

.selectedTile {
	color: red;
}

.highlight {
	box-shadow: inset 0 0 0.5em red;
}

.sumRollover {
	border: 2px dashed var(--bgcolor-tile-sum-rollover);
}